<footer>
  <div class="container footer-content">
    <div class="row">
       <%= image_tag 'logos/logo_MMC_blanc.png', class: 'footer-logo' %>
    </div>
    <div class="row">
      <ul class="footer">
        <li><%= link_to "Le projet", root_path %></li>
        <li><%= link_to "Les acteurs", root_path %></li>
        <li><%= link_to "Nous soutenir", root_path %></li>
        <li><%= link_to "Nous contacter", contact_path %></li>
      </ul>
    </div>
  </div>
</footer>
