<footer>
  <div class="container footer-content">
    <%= image_tag 'illustrations/tampon.svg', class: 'footer-tampon' %>
    <div class="row">
      <div class="col-xs-4 col-sm-2 footer-logo">
        <%= image_tag 'logos/logo_MMC_blanc_map.svg' %>
      </div>
      <div class="col-xs-8 col-sm-4 footer-project">
        <ul>
          <li>
            <div id="animated-modal" class='link button-footer-projet'>
              Le projet
            </div >
          <li>
            <div id="animated-modal" class='link button-footer-acteurs'>
              Les acteurs
            </div >
          </li>
          <li>
            <a href="<%= ENV['ASSET_HOST'] %>/Bulletin_de_souscription_MMC.pdf", target="_blank">Nous soutenir</a>
          </li>
          <li><%= link_to "Nous contacter", contact_path %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 footer-newsletter">
        <p>Inscrivez-vous à la newsletter</p>
        <%= render "shared/newsletter" %>
      </div>
    </div>

    <div class="row">
      <ul class="copyright">
        <li><%= link_to "Mentions Légales", mentions_legales_path %></li>
        <li class="hidden-xs"> - </li>
        <li>Copyright © 2017 Maison de la Minéralogie de Chalabre, Tous droits réservés</li>
      </ul>
    </div>
  </div>
</footer>

<%= render partial: 'shared/modal_video_acteurs' %>
<%= render partial: 'shared/modal_video_projet' %>


