<%# content_for :meta_title %>
<%# content_for :meta_description %>
<%# content_for :meta_image %>

<!-- HEADER -->
<div id="header" class="home">
  <div class="container-fluid header-content">
    <div class="row">
      <div class="col-xs-12 text-center">
        <!-- HEADER CONTENT -->
        <%= image_tag 'logos/logo_MMC_blanc.svg', class: 'header-logo' %>
        <%= image_tag 'illustrations/carte_france_contour.svg', class: 'header-map' %>
        <%= image_tag 'illustrations/tampon.svg', class: 'header-tampon' %>
        <% theme = randomized_background %>
        <%= image_tag theme[:picture], class: 'header-image' %>
        <div class='header-text'>
          <h1 class="header-title">maison de la minéralogie</h1>
          <p class="header-subtitle">La planète cristalline révélée dans ses formes les plus créatives</p>
          <!-- Begin MailChimp Signup Form -->
          <%= render "shared/newsletter" %>
          <!-- BOUCING ARROW -->
          <a href="#presentation" rel="Go to the service presentation section">
            <i><%= image_tag "icons/play.png", :class => 'play pulsed hidden-xs' %></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PRESENTATION - MAISON DE LA MINERALOGIE -->
<section class="section-presentation" id="presentation">
  <div class="container-fluid">
    <!-- BLOCK PORTE -->
    <div class="presentation-image">
      <%= image_tag 'backgrounds/porte.png', class: "front-door"%>
      <!-- SLICK SLIDER -->
      <div class="container door-carousel">
        <% @minerals.each do |mineral| %>
          <div class="mineral-card">
            <%= image_tag mineral.picture %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- BLOCK DESCRIPTION -->
    <div class="presentation-block">
      <h3 class="subtitle">Pour une dynamique des patrimoines scientifique et culturel</h3>
      <p>Ce projet est fondé sur l’une des plus belles collections minéralogiques privées de France, appartenant à Monsieur Freddy Marty, géologue retraité du Bureau de Recherches Géologiques et Minières, vivant à Chalabre.</p>
      <p>Un Fonds de Dotation s’est constitué autour de cette collection pour mettre en œuvre, en partenariat avec la municipalité, une maison de la minéralogie à Chalabre.</p>
      <p>La commune dispose d’un bâtiment historique, l’Hôtel Dieu Saint Jacques, de tous temps dédié à l’accueil et adapté pour ce projet dont elle assure la maîtrise d’ouvrage.</p>
      <!-- CTA - EN SAVOIR PLUS -->
       <!-- about_path -->
      <%= button_to "En Savoir +", "#", method: :get, class: "button button-white button-hover-brown-lighter" %>
    </div>
  </div>
</section>

<!-- LE CONCEPT -->
<section class="section-concept <%= theme[:color] %>">
  <div class="container">
    <h2 class="section-title">Le concept</h2>
    <div class="row">
      <div class="col-xs-12 concept-block">
        <!-- COLLECTION -->
        <div class="col-xs-12 col-sm-4">
          <%=image_tag "icons/rock_collection.png" %>
          <p>Exposition permanente des collections générales de la Maison de la Minéralogie de Chalabre</p>
        </div>
        <!-- EXPOSISTIONS -->
        <div class="col-xs-12 col-sm-4">
          <%=image_tag "icons/fossil.png" %>
          <p>Expositions spécifiques, didactiques et temporaires</p>
        </div>
        <!-- THINK AROUND -->
        <div class="col-xs-12 col-sm-4">
          <%=image_tag "icons/think_bubble.png" %>
          <p>Conférences, colloques, sessions d’études, séminaires ayant un rapport direct ou indirect avec la minéralogie</p>
        </div>
        <%= button_to "Découvrir", "#", method: :get, class: "button button-white button-hover-#{theme[:color]}" %>
      </div>
    </div>
  </div>
</section>

<!-- LA COLLECTION -->
<!-- <section class="section-collection">
  <div class="container">
    <h2 class="section-title">La collection</h2>
    <div class="row">
      <div class="col-xs-12"> -->
        <!-- SLICK SLIDER -->
        <!-- <div class="container carousel">
          <%# @minerals.each do |mineral| %>
            <div class="col-xs-12 col-sm-3">
              <div class="mineral-card">
                <%#= image_tag mineral.picture %>
                <div class="box-shadow">
                  <p class="mineral-name"><%#= mineral.name %></p>
                  <p class="mineral-size"><%#= mineral.size %></p>
                  <p class="mineral-origin"><%#= mineral.origin %></p>
                </div>
              </div>
            </div>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- NOTRE ACTUALITE -->
<section class="section-articles">
  <div class="container">
    <h2 class="section-title">Notre actualité</h2>
    <div class="row articles-block">
      <% @articles.each do |article| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="article-card">
            <h3><%= article.title %></h3>
            <p class="article-date"><%= article.created_at %></p>
            <div class="article-picture">
              <%= image_tag article.picture if article.picture %>
            </div>
            <p class="article-text"><%= article.text %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- LOGOS -->
<section class="section-logos">
  <div class="container">
    <h2 class="section-title">Ils nous soutiennent !</h2>
    <div class="row">
      <% @logos.in_groups_of(6) do |logos_group| %>
        <div class="logos">
          <% logos_group.each do |logo| %>
            <% if logo %>
              <%= link_to (image_tag logo.picture), logo.link, target: "_blank" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
