<% content_for :meta_title %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<!-- HEADER -->
<div id="header" class="home">
  <div class="container-fluid header-content">
    <div class="row">
      <div class="col-xs-12 text-center">
        <!-- HEADER CONTENT -->
        <%= image_tag 'logos/logo_MMC_blanc.svg', class: 'header-logo' %>
        <%= image_tag 'illustrations/carte_france_contour.svg', class: 'header-map' %>
        <%= image_tag 'illustrations/tampon.svg', class: 'header-tampon' %>
        <% theme = randomized_background %>
        <%= image_tag theme[:picture], class: 'header-image' %>
        <div class='header-text'>
          <h1 class="header-title">maison de la minéralogie</h1>
          <p class="header-subtitle">La planète cristalline révélée dans ses formes les plus créatives</p>
          <!-- Begin MailChimp Signup Form -->
          <!-- <%#= render "shared/newsletter" %> -->
          <!-- BOUCING ARROW -->
          <a href="#presentation" rel="Go to the service presentation section">
            <i><%= image_tag "icons/play.png", class: 'play pulsed hidden-xs' %></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PRESENTATION - MAISON DE LA MINERALOGIE -->
<section class="section-presentation" id="presentation">
  <div class="container-fluid presentation">
    <!-- BLOCK PORTE -->
    <div class="presentation-image">
      <%= image_tag 'backgrounds/porte.png', class: "front-door"%>
      <!-- SLICK SLIDER -->
      <div class="container door-carousel">
        <% @minerals.each do |mineral| %>
          <div class="mineral-card">
            <%= image_tag mineral.picture %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- BLOCK DESCRIPTION -->
    <div class="presentation-block">
      <h3 class="presentation-subtitle">Pour une dynamique des patrimoines scientifique et culturel</h3>
      <p class="">Une collection minéralogique d’exception, des cristaux aux formes et couleurs révélées par la lumière.</p>
      <p class="">Une médiation numérique collective et individuelle adaptée aux motivations de chacun.</p>
      <p class="">Un hébergement historique sur le chemin de Saint Jacques de Compostelle.</p>
      <p class="">Un environnement pyrénéen propice à la découverte des sciences de la Terre.</p>
      <!-- CTA - Les acteurs -->
      <div id="animated-modal" class='button button-white button-hover-brown-lighter button-home-acteurs'>
         Les acteurs
      </div >
    </div>
  </div>
</section>


<!-- LE CONCEPT -->
<section class="section-concept <%= theme[:color] %>">
  <div class="container">
    <h2 class="section-title">Le concept</h2>
    <div class="concept-block">
      <div class="concept-block-item">
        <%=image_tag "icons/rock_collection.png" %>
        <p>Exposition permanente des collections générales de la Maison de la Minéralogie de Chalabre</p>
      </div>
      <div class="concept-block-item">
        <%=image_tag "icons/fossil.png" %>
        <p>Expositions temporaires, spécifiques et didactiques</p>
      </div>
      <div class="concept-block-item">
        <%=image_tag "icons/workshop.png" %>
        <p>Atelier numérique, travaux pratiques</p>
      </div>
      <div class="concept-block-item">
        <%=image_tag "icons/think_bubble.png" %>
        <p>Conférences, colloques, sessions d’études, séminaires, partenariats éducatifs et universitaires</p>
      </div>
      <div class="concept-block-item">
        <%=image_tag "icons/boutique_jardin.png" %>
        <p>Boutique, coin détente, jardin, porte ouverte sur le territoire et les Pyrénées</p>
      </div>
    </div>
    <!-- CTA -  Le projet -->
    <div id="animated-modal" class='button button-white button-hover-brown-lighter button-home-projet'>
       Le projet
    </div >
  </div>
</section>

<!-- LA COLLECTION -->
<!-- <section class="section-collection">
  <div class="container">
    <h2 class="section-title">La collection</h2>
    <div class="row">
      <div class="col-xs-12"> -->
        <!-- SLICK SLIDER -->
        <!-- <div class="container carousel">
          <%# @minerals.each do |mineral| %>
            <div class="col-xs-12 col-sm-3">
              <div class="mineral-card">
                <%#= image_tag mineral.picture %>
                <div class="box-shadow">
                  <p class="mineral-name"><%#= mineral.name %></p>
                  <p class="mineral-size"><%#= mineral.size %></p>
                  <p class="mineral-origin"><%#= mineral.origin %></p>
                </div>
              </div>
            </div>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- NOTRE ACTUALITE -->
<section class="section-articles">
  <div class="container">
    <h2 class="section-title">Notre actualité</h2>
    <!-- <div class="row articles-block">
      <%# @articles.each do |article| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="article-card">
            <h3><%#= article.title %></h3>
            <p class="article-date"><%#= article.created_at %></p>
            <div class="article-picture">
              <%#= image_tag article.picture if article.picture %>
            </div>
            <p class="article-text"><%#= article.text %></p>
          </div>
        </div>
      <%# end %>
    </div> -->

    <ul class="timeline">
      <li>
        <div class="timeline-date">Juillet 2012</div>
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <p>Création du Fonds de dotation Collection Freddy MARTY</p>
        <%= image_tag 'logos/logo_MMC_noir_map.svg', class: 'timeline-logo' %>
        </div>
      </li>
      <li>
        <div class="timeline-date">2013</div>
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <p>La municipalité fait réaliser le plan de développement du projet</p>
          <%=image_tag 'logos/Logo_Chalabre_vertical.jpg', class: 'timeline-logo' %>
        </div>
      </li>
      <li>
        <div class="timeline-date">2013... 2017</div>
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <p>Développement du projet, recherche de financements</p>
        </div>
      </li>
      <li>
        <div class="timeline-date">Octobre 2015</div>
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <p>Accord de financement de la Région Languedoc Roussillon</p>
          <%=image_tag 'logos/logo_occitanie_square.jpg', class: 'timeline-logo' %>
        </div>
      </li>
      <li>
        <div class="timeline-date">Mars 2016</div>
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <p>Accord de financement du Conseil Départemental de l’Aude</p>
          <%=image_tag 'logos/Aude_(11)_logo_square_2015.png', class: 'timeline-logo cd11' %>
        </div>
      </li>
      <li>
        <div class="timeline-date">Janvier-Février 2017</div>
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <p>Dossier de financement européen au titre du Massif des Pyrénées</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- LOGOS -->
<section class="section-logos">
  <div class="container">
    <h2 class="section-title">Ils nous soutiennent !</h2>
    <div class="row">
      <% @logos.in_groups_of(6) do |logos_group| %>
        <div class="logos">
          <% logos_group.each do |logo| %>
            <% if logo %>
              <%= link_to logo.link, target: "_blank" do %>
                <%= image_tag logo.picture, class: "#{logo.name}" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% content_for :after_js do %>
  <script>

    // function fadeInUpPresentation() {
    //   var delay = 0;
    //   $('.presentation-block p.invisible').each(function(){
    //     $(this).delay(delay += 400).removeClass('invisible').addClass("visible")
    //   });
    // };

    // var sectionHeader = $('#header').height();

    // $(window).scroll(function() {
    //   var height = $(window).scrollTop();

    //   if(height  > sectionHeader) {
    //     // fadeInUpPresentation();
    //     var delay = 200;
    //     $('.presentation-block p.invisible').each(function(){

    //       $(this).animate({
    //         opacity: 1,
    //       }, 1000, function() {
    //         // Animation complete.
    //       });
    //     });
    //   }
    // });

  </script>
<% end %>
