<% content_for :meta_title %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<!-- HEADER -->
<div id="header" class="home">
  <div class="container-fluid header-content">
    <div class="row">
      <div class="col-xs-12 text-center">
        <!-- HEADER CONTENT -->
        <%= image_tag('logo MMC blanc.png', :class => 'header-logo') %>
        <h1 class="header-title">maison de la minéralogie</h1>
        <p class="header-subtitle">La planète cristalline révélée dans ses formes les plus créatives</p>
        <!-- SIGNUP -->
        <div id="btn-become-home">
          <%= link_to "S'inscrire gratuitement", new_user_registration_path, class: "button button-turquoise" %>
        </div>
        <!-- BOUCING ARROW -->
        <a href="#presentation" rel="Go to the service presentation section">
          <i class="fa fa-angle-down pulse hidden-xs"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- PRESENTATION - MAISON DE LA MINERALOGIE -->
<section class="container-fluid presentation" id="presentation">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Pour une dynamique des patrimoines scientifique et culturel</h2>
      <!-- BLOCK PORTE -->
      <div class="col-md-5">
        <div class="embed-container video-mobile">
          <iframe class="border-video" width="500" height="285" src="https://www.youtube.com/embed/4tYrdTm6lwQ?controls=0&rel=0&showinfo=0" frameborder="0"></iframe>
        </div>
      </div>
      <!-- BLOCK DESCRIPTION -->
      <div class="col-md-6 col-md-offset-1">
        <h3 class="subtitle">Il est temps de connecter localement les acteurs qui rêvent ensemble !</h3>
        <p>Ce projet est fondé sur l’une des plus belles collections minéralogiques privées de France, appartenant à Monsieur Freddy Marty, géologue retraité du Bureau de Recherches Géologiques et Minières, vivant à Chalabre.</p>
        <p>Un Fonds de Dotation s’est constitué autour de cette collection pour mettre en œuvre, en partenariat avec la municipalité, une maison de la minéralogie à Chalabre.</p>
        <p>La commune dispose d’un bâtiment historique, l’Hôtel Dieu Saint Jacques, de tous temps dédié à l’accueil et adapté pour ce projet dont elle assure la maîtrise d’ouvrage.</p>
        <!-- CTA - EN SAVOIR PLUS -->
         <!-- about_path -->
        <%= button_to "En Savoir Plus", "#", method: :get, class: "button button-turquoise" %>
      </div>
    </div>
  </div>
</section>

<!-- LE CONCEPT -->
<section class="container-fluid process">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Le concept</h2>
      <div class="col-xs-12">
        <!-- MOCKUP 1 -->
        <div class="col-xs-12 col-sm-4 discover" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneMap.png") %>
          <p>Exposition permanente des collections générales de la Maison de la Minéralogie de Chalabre</p>
        </div>
        <!-- MOCKUP 2 -->
        <div class="col-xs-12 col-sm-4 localise" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneHome.png") %>
          <p>Expositions spécifiques, didactiques et temporaires</p>
        </div>
        <!-- MOCKUP 3 -->
        <div class="col-xs-12 col-sm-4 enjoy" data-sr="enter bottom and scale up 20% over 1s">
          <%=image_tag("IphoneCard.png") %>
          <p>Conférences, colloques, sessions d’études, séminaires ayant un rapport direct ou indirect avec la minéralogie</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LA COLLECTION -->
<!-- <section class="container-fluid card-1">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Une plateforme généreuse</h2>
      <div class="col-xs-12">
        <p>Les commerçants responsables sont tous les jours un peu plus nombreux à offrir des bons plans aux citoyens engagés.</p>
        <p>Découvrez les derniers à nous avoir rejoints :</p>
      </div>
      <div class="col-xs-12">
        <!-- SLICK SLIDER -->
        <!-- <div class="container carrousel">
          <%# @businesses.each do |business| %>
          <%# if business.perks.active.first != nil %>
          <div class="col-xs-12 col-sm-3">
            <div class="perk-card">
              <%#= image_tag business.picture(:medium) %>
              <div class="box-shadow">
                <span><%#= business.business_category.name%></span>
                <h3 class="business-name"><%#= business.name%></h3>
                <i class="fa fa-map-marker"><strong><%#=business.city%></strong></i>
                <h4 class="business-perk"><%#= business.perks.active.first.name.upcase%></h4>
              </div>
            </div>
          </div>
          <%# end %>
          <%#end%>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- CARTE - SPONSORING -->
<section class="container-fluid sponsoring">
  <div class="row">
    <div class="overlay-sponsoring"></div>
    <h2 class="section-title">Une plateforme solidaire</h2>
    <div class="col-xs-12 col-sm-6 sponsoring-mockup">
      <%= image_tag("member-card.png") %>
    </div>
    <div class="col-xs-12 col-sm-6 sponsoring-content">
      <h3>Parrainez une association</h3>
      <p>Découvrez les initiatives de votre ville et devenez ambassadeur de l'une d'entre elle en lui reversant chaque mois, 50% de votre abonnement.</p>
      <p>Donnez ainsi les moyens à la cause qui vous tient à coeur, de continuer à agir pour avoir un impact positif sur la société.</p>
      <span class="highlight">Jamais vous ne vous sentirez autant acteur du changement !</span>
      <%#= link_to "Choisissez votre association", new_user_registration_path, class: "button button-turquoise" %>
    </div>
  </div>
</section>

<!-- ASSOCIATIONS -->
<section class="container-fluid categories">
  <div class="container">
    <div class="row">
      <h2 class="section-title">À chaque cause, ses associations</h2>
      <div class="col-sm-12">
        <p>Découvrez les grandes thématiques pour lesquelles s'engagent nos associations partenaires.</p>
        <ul>
          <li>
            <%= image_tag("insertion-et-precarite.jpg")%>
            <span>#Insertion / Précarité</span>
          </li>
          <li>
            <%= image_tag("environnement.jpg")%>
            <span>#Environnement</span>
          </li>
          <li>
            <%= image_tag("handicap.jpg")%>
            <span>#Handicap</span>
          </li>
          <li>
            <%= image_tag("solidarite-internationale.jpg")%>
            <span>#Humanitaire</span>
          </li>
          <li>
            <%= image_tag("aide-a-l-enfance.jpg")%>
            <span>#Éducation</span>
          </li>
          <li>
            <%= image_tag("sante.jpg")%>
            <span>#Santé</span>
          </li>
          <li>
            <%= image_tag("entrepreneuriat.jpg")%>
            <span>#Entrepreneuriat Social</span>
          </li>
          <li>
            <%= image_tag("culturel.jpg")%>
            <span>#Culturel</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- ECOSYSTEM ECOSYSTEM -->
<section class="container-fluid ecosysteme">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Un écosystème vertueux</h2>
      <!-- ECOSYSTEM PRESENTATION -->
      <div class="col-xs-12">
        <p>En plaçant l'humain au centre de cet écosystème positif, chaque membre est bien plus qu'un simple consommateur et devient le véritable moteur d'un mouvement indépendant favorisant l'émergence d'une société plus responsable et solidaire.</p>
      </div>
      <!-- COLUMNS BUSINESS & ASSOCIATIONS -->
      <div class="col-xs-12 col-sm-6 business">
        <h3>Vous êtes une entreprise ?</h3>
        <p>Développez gratuitement votre activité et votre visibilité, tout en envoyant un message fort en faveur de l'engagement citoyen !</p>
        <!-- BUTTON BUSINESS -->
        <%#= button_to "Inspirez vos clients", landing_business_path, method: :get, class: "button button-turquoise" %>
      </div>
      <div class="col-xs-12 col-sm-6 association">
        <h3>Vous êtes une association ?</h3>
        <p>Favorisez l'engagement des citoyens en leur offrant un moyen simple et incitatif de vous soutenir !</p>
        <!-- BUTTON ASSOCIATION -->
        <%#= button_to "Développez votre impact", landing_cause_path, method: :get, class: "button button-green" %>
      </div>
    </div>
  </div>
</section>

<!-- SUPPORTERS -->
<section class="container-fluid supporters">
  <div class="container">
    <h2>Ils nous soutiennent</h2>
    <div class="row row-logo">
      <%=link_to image_tag("banquepostale-white.png"), "https://www.labanquepostale.fr/", target: "_blank" %>
      <%=link_to image_tag("makesense-white.png"), "http://beta.makesense.org/", target: "_blank" %>
      <%=link_to image_tag("metropole-white.png"), "http://www.bordeaux-metropole.fr/", target: "_blank" %>
      <%=link_to image_tag("darwin-white.png"), "http://www.darwin-ecosysteme.fr/", target: "_blank" %>
      <%=link_to image_tag("ticket-for-change.png"), "http://www.ticketforchange.org/", target: "_blank" %>
    </div>
     <div class="row row-logo">
      <%=link_to image_tag("kisskissbankbank-white.png"), "http://www.kisskissbankbank.com/", target: "_blank" %>
      <%=link_to image_tag("mazars-white.png"), "https://www.mazars.fr/", target: "_blank" %>
      <%=link_to image_tag("bordeaux-white.png"), "http://www.bordeaux.fr/", target: "_blank" %>
    </div>
    <div class="row row-logo">
      <%=link_to image_tag("french-tech-white.png"), "http://www.lafrenchtech.com/", target: "_blank" %>
      <%=link_to image_tag("aec-white.png"), "http://www.aecom.org/", target: "_blank" %>
      <%=link_to image_tag("ecolo-info-white.png"), "http://www.ecoloinfo.com/", target: "_blank" %>
      <%=link_to image_tag("bpi-white.png"), "http://www.bpifrance.fr/", target: "_blank" %>
      <%=link_to image_tag("keep-a-breast-white.png"), "http://www.keep-a-breast.org/", target: "_blank" %>
    </div>
  </div>
</section>

<!-- CALL FOR ACTION SUBCRIPTION -->
<section class="container-fluid registration">
  <div class="overlay-registration"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Inscrivez-vous gratuitement !</h3>
        <!-- SIGNUP -->
        <%= link_to "Essayer maintenant", new_user_registration_path, class: "button button-turquoise" %>
      </div>
    </div>
  </div>
</section>

<% content_for :after_js do %>


<% end %>

